{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<div class="page">
    <h1>formule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formule in formules %}
            <tr>
                <td>{{ formule.id }}</td>
                <td>{{ formule.nom }}</td>
                <td>{{ formule.prix }}</td>

                <td>
                    <a href="{{ path('app_show', {'id': formule.id}) }}">voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
