</main>
<footer>
    <nav class="navbar navbar-dark fixed-bottom bg-dark" id="nav-footer">
      <div class="container-fluid text-center align-items-center">
{#         <a class="navbar-brand" href="#">Fixed bottom</a> #}
            <div class="col">
                <i class="bi bi-pin-map"></i><a href="https://goo.gl/maps/6gDRfm1DyTE47xt18">48 Av. d'Ivry, 75013 Paris</a>
            </div>
            <div class="col">
                <i class="bi bi-headset"></i></i><a href="tel:#3131#">01 60 79 51 00</a>
            </div>
            <div class="col">
                <i class="bi bi-envelope"></i><a href="mailto:contact@bistrot-babylon.fr">contact@bistrot-babylon.fr</a>
            </div>
            <div class="col">
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </div>
      </div>
    </nav>
</footer>